# Ignore custom OS module as this is installed in devcontainer and not part of this repo
Slim/Utils/OS/Custom.pm

# Ignore cache, logs and prefs files
Cache/*
Logs/*
prefs/*
Plugins/*
.DS_Store
CPAN/.DS_Store
Slim/.DS_Store
Slim/Formats/.DS_Store
tools/push_overrides.sh
.gitignore
